.mapimg{
	background-image:url("plan_ESIEE.gif");

}

.mapimg path{
	fill: #a4ced2;
	stroke:#FFF;
	stroke-width :2px;
}
.mapimg path:hover{
	fill: #3538d2;
	
	}

.mapliste a{
	color:inherit;
	text-decoration: none;
	transition:color 0.3s ;
}